@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.align-items-center {
    align-items: center;
}

.background-primary {
    background: #171717;
}

.background-secondary {
    background: #580aff;
}

.background-third {
    background: #212121;
}

.border {
    border: .1rem solid #333333;
}

.color-fourth {
    color: #580aff;
}

.color-icon {
    color: #580aff;
}

.color-primary {
    color: #f9f9f9;
}

.color-secondary {
    color: #828282;
}

.color-third {
    color: #171717;
}

.display-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.font-size-eighteen {
    font-size: 1.8rem;
}

.font-size-fourteen {
    font-size: 1.4rem;
}

.font-size-sixteen {
    font-size: 1.4rem;
}

.font-size-thirty-six {
    font-size: 3.2rem;
}

.font-size-thirty-two {
    font-size: 3.2rem;
}

.font-weight-bold {
    font-weight: 700;
}

.font-weight-medium {
    font-weight: 500;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.margin-bottom-eighty {
    margin-bottom: 8rem;
}

.margin-bottom-thirty {
    margin-bottom: 3rem;
}

.margin-bottom-twenty {
    margin-bottom: 2rem;
}

.padding-default {
    padding: 2.5rem 5rem;
}

.secondary-title {
    font-size: 3.2rem;
    color: #f9f9f9;
}

.text-align-center {
    text-align: center;
}

.width-hundred {
    width: 100%;
}

#nav {
    margin: 0rem auto;
    max-width: 1366px;
    position: relative;
}

.button-toggle {
    display: none;
}

.menu {
    gap: 4.5rem;
}

.menu-toggle {
    display: none;
}

#header {
    flex-wrap: wrap;
    margin: 0rem auto;
    max-width: 1366px;
}

.button {
    height: 4rem;
    margin-right: 1.5rem;
    width: 15rem;
}

#about-me {
    margin: 0rem auto;
    max-width: 1366px;
}

.contacts-icons {
    border-radius: 6rem;
    height: 6rem;
    width: 6rem;
}

#projects {
    margin: 0rem auto;
    max-width: 1440px;
}

.project {
    height: 24rem;
    padding: 2rem 2.5rem;
    gap: 2rem;
    max-width: 35rem;
    min-width: 35rem;
    text-align: left;
}

.projects {
    flex-wrap: wrap;
    gap: 3rem 4.5rem;
}

.preview {
    height: 13rem;
    width: 30rem;
}

#services {
    margin: 0rem auto;
    max-width: 1366px;
}

.services {
    flex-wrap: wrap;
    gap: 4.5rem;
}

.service {
    height: 24rem;
    min-width: 35rem;
    padding: 3rem;
    text-align: left;
}

#my-skills {
    margin: 0rem auto;
    max-width: 1366px;
}

.skills {
    flex-wrap: wrap;
    gap: 4.5rem;
}

.skill {
    height: 15rem;
    min-width: 15rem;
}

#footer {
    height: 6rem
}

@media (max-width: 1024px) {
    .button-toggle {
        background: none;
        cursor: pointer;
        display: flex;    
    }

    .menu {
        display: none;
    }

    .menu.show {
        background-color: #171717;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        left: 0rem;
        padding-left: 5rem;
        position: absolute;
        text-align: left;
        top: 7.5rem;
        width: 100%;
    }

    #header {
        justify-content: center;
    }

    .button {
        margin-bottom: 1.5rem;
    }

    .svg {
        display: none;
    }

    .contacts-list {
        flex-direction: column;
        gap: 5rem;
    }
}
